In [1]:
import numpy as np
import pandas as pd
import sqlalchemy

In [2]:
arr = np.loadtxt('data_vector.csv').astype(int)
a1 = list(arr.copy())

In [3]:
vec = []

listas_total = []

index_ini = 0

while index_ini<len(a1):



    for ind in range(index_ini,len(a1)):



        #evitar que el numero esté en el vector

        if not(a1[ind] in vec):

            vec.append(a1[ind])

    
        else:

            vec = []

            index_ini+=1

            break    

        if sum(vec)==52:

            listas_total.append(vec.copy())

            vec = []

            index_ini+=1

            break

        elif sum(vec)>52:

            vec = []

            index_ini+=1

            break

In [4]:
len(listas_total)

274175

In [5]:
data = pd.DataFrame({'subvectores':listas_total })

In [6]:
data['subvectores'] = data['subvectores'].astype(str)

In [7]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:jorge@localhost/mysql')

data.to_sql(con=engine,name="jorge_prueba",if_exists="replace")

In [8]:
tabla = pd.read_sql('select * from jorge_prueba limit 100', con=engine)
tabla

    index         subvectores
0       0   [9, 8, 2, 12, 21]
1       1     [13, 19, 16, 4]
2       2  [4, 12, 14, 9, 13]
3       3      [30, 3, 8, 11]
4       4         [23, 4, 25]
..    ...                 ...
95     95         [26, 6, 20]
96     96            [23, 29]
97     97         [23, 3, 26]
98     98            [27, 25]
99     99         [28, 16, 8]

[100 rows x 2 columns]

In [13]:
tabla['subvectores'][3]

'[30, 3, 8, 11]'